@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .max-container {
    max-width: 1536px;
    width: 100%;
    margin: 0 auto;
  }

  .input {
    @apply py-2 px-4 bg-slate-200 outline-none rounded-lg font-medium text-slate-800 focus:bg-blue-100;
  }

  .button {
    @apply cursor-pointer rounded-lg flex font-medium border-transparent focus:outline-none disabled:cursor-not-allowed text-sm py-2.5 px-5 focus:ring focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 disabled:bg-blue-200;
  }

  .button-primary {
    @apply button bg-blue-600 hover:bg-blue-500 text-white;
  }

  .button-ghost {
    @apply button text-slate-600 font-semibold border hover:border-slate-200;
  }

  .button-icon {
    @apply button text-slate-600 font-semibold border hover:border-slate-200 p-2;
  }
}
